.FarmNameTitle{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    /* margin-right: 300px; */
    margin-bottom: 0px;
}

.inputFarmName {
    width:300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.29);
    background: rgba(193, 35, 35, 0.00);
    margin: auto;
    margin-top: 10px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}


.SubmitNewFarm{
    margin-top: 20px;
    bottom: 40px;
    left: 55px;
    width: 110px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    color: black;
    background: #c4a66f;
    font-size: 20px;
}